/* Definir a estratégia de layout de todos os elementos */
* {
    box-sizing: border-box; /* Garante que o padding e a borda não afetem o tamanho total do elemento */
    outline: none; /* Remove qualquer contorno ao redor de elementos focados */
}

/* Garantir que a altura e largura de html, body e o container #wrap ocupem 100% da tela */
html, body, #wrap {
    position: relative; /* Permite o uso de posicionamento relativo se necessário em elementos filhos */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    width: 100%; /* Garante que os elementos ocupem toda a largura */
    height: 100%; /* Garante que os elementos ocupem toda a altura */
}

/* Estilo para o body e html, com uma fonte monoespaçada */
html, body {
    font-family: Consolas, "Courier New", courier, Monospace; /* Define uma fonte monoespaçada */
    font-size: 16px; /* Define o tamanho da fonte padrão */
}

/* Estilos para o container principal, #wrap */
#wrap {
    max-width: 800px; /* Limita a largura do container a 800px */
    margin: auto; /* Centraliza o container horizontalmente */
}

/* Estilo para o cabeçalho dentro de #wrap */
#wrap > header {
    display: flex; /* Usa flexbox para layout */
    align-items: center; /* Alinha verticalmente os itens ao centro */
}

/* Estilo para o link dentro do cabeçalho, provavelmente um logo ou navegação */
#wrap > header > a {
    display: block; /* Faz o link ocupar o espaço inteiro disponível */
    font-size: 2.5rem; /* Define o tamanho da fonte como 2.5 rem */
    padding: .5rem 1rem .5rem .5rem; /* Adiciona padding (margem interna) ao redor do link */
}

/* Estilo para o título principal (h1) dentro do cabeçalho */
#wrap > header > h1 {
    margin: 0; /* Remove a margem padrão do título */
    display: flex; /* Usa flexbox para layout */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    justify-content: center; /* Alinha horizontalmente os itens ao centro */
    flex-direction: column; /* Organiza os itens na coluna */
    line-height: 1.1; /* Define a altura da linha */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estilo para o primeiro span dentro de h1 (provavelmente um subtítulo ou descrição) */
#wrap > header > h1 span:first-child {
    font-size: 1rem; /* Define o tamanho da fonte para o primeiro span */
    font-weight: normal; /* Define o peso da fonte como normal */
    letter-spacing: 0; /* Remove o espaçamento entre as letras */
}

/* Estilo para o segundo span dentro de h1 (provavelmente um título principal) */
#wrap > header > h1 span:last-child {
    letter-spacing: 1.2rem; /* Aumenta o espaçamento entre as letras do segundo span */
}
